# seconday day class

In [91]:
low=int(input())
high=int(input())
for num in range(low,high+1):
    if num>1:
        for q in range (2,num):
            if (num%q)==0:
                break
        else:
            print(num)

0
10
2
3
5
7

In [81]:
n=int(input())
s=a=0
for i in range(1,n+1):
    c=0
    for j in range(1,i+1):
        if i%j==0:
            c+=1
    if(c==2):
        print(i,end=" ")
        a+=1
        s=s+i
print("count is ",a)
print("sum is ", s)
print("avg is ",s//a)

5
2 3 5 count is  3
sum is  10
avg is  3

In [26]:
s ='anits college'
print(s[0]) # to print the first value of the string
print(s[-1]) # to print rear end from last
print(s) # to print first 2 values of the string
print(s[:7]) # to print  first seven
print(s[-7:]) # to print last seven 
print(s[::-1]) # to reverse string
print(s[2:9:2]) # to skip two letters

a
e
anits college
anits c
college
egelloc stina
iscl

In [27]:
s.split()

['anits', 'college']

In [28]:
s.islower()

True

In [29]:
s.upper()

'ANITS COLLEGE'

In [31]:
s.capitalize()

'Anits college'

In [33]:
s.title()

'Anits College'

In [34]:
len(s)

13

In [37]:
isalpha(s)

NameError: name 'isalpha' is not defined

In [38]:
s.isalpha( )

False

In [39]:
s.isascii()

True

In [40]:
s.__sizeof__()

62

In [42]:
s.__rmul__(3) # repeat

'anits collegeanits collegeanits college'

In [44]:
id(s)

81825072

# functions

In [45]:
# without arguments without return value
def add():
    a=10
    b=20
    print(a+b)
add()

30

In [46]:
# without arguments without return value
def add():
    a=int(input())
    b=int(input())
    print(a+b)
add()

10
20
30

In [47]:
def sub(a,b):
    print(a-b)
sub(60,70)

-10

In [48]:
def sub(a,b):
    print(a-b)
sub(int(input()),int(input()))

50
40
10

In [49]:
def mul():
    a=int(input())
    b=int(input())
    c=a*b
    return c
mul()

2
4

8

In [50]:
def div(a,b):
    return a//b
div(10,2)

5

In [63]:
# check wether it is leap year are not 
def leapyear(n):
    if (n%400==0)or(n%4==0 and n%100!=0):
        return True
    return False
y=int(input())
leapyear(y)

2016

True

In [68]:
x=int(input())
y=int(input())
for u in range(x,y+1):
    if(leapyear(u)):
        print(u,end=" ")

2000
2016
2000 2004 2008 2012 2016

In [88]:
def isprime(p):
    for num in range(2,p):
        if (p%num==0):
            return False
    return True
w=int(input())
isprime(w)

9

False

In [97]:
x=int(input())
y=int(input())
for u in range(x,y+1):
    if(isprime(u)):
        print(u,end=" ")

10
200
11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97 101 103 107 109 113 127 131 137 139 149 151 157 163 167 173 179 181 191 193 197 199

In [104]:
def fact(n):
    if( n==0):
        return 1
    else:
        return n*fact(n-1)
u=int(input())
fact(u)

0

1

# modules and packages

In [108]:
# print random values between given ranges
import random as r
def rvalues(lb,ub,n):
    for i in range(n):
        print(r.randint(lb,ub))
        
rvalues(1,100,10)

45
60
7
67
94
12
33
54
11
95

# DATA STRUCTURES

LISTS\
TUPLES\
SETS\
DICTIONARIES

In [109]:
li=[10,2,3,'abc',[56,76]]#list creation
li

[10, 2, 3, 'abc', [56, 76]]

In [110]:
li[::-1]# list reversal

[[56, 76], 'abc', 3, 2, 10]

In [111]:
li[::2]

[10, 3, [56, 76]]

In [116]:
print(li[1:-1:1])#execpet first and last

[2, 3, 'abc']

In [114]:
print(li[:3])

[10, 2, 3]

list methods

In [134]:
l=[50,20,30,40,]
n=l.append(80)
print(l)

[50, 20, 30, 40, 80]

In [130]:
l.count(80)#return the count of the particular element

1

In [131]:
l.index(30)#index of the particular element

2

In [132]:
l.pop()

80

In [133]:
l

[10, 20, 30, 40]

In [137]:
l.sort()
l

[20, 30, 40, 50, 80]

In [138]:
l.sort(reverse=True)#desending order
l

[80, 50, 40, 30, 20]

In [139]:
l.clear()

In [140]:
l

[]

In [141]:
l

[]

In [142]:
l=[1,2,3,4,'abc',56]
m=[57,58,90]
l.extend(m)

In [143]:
l

[1, 2, 3, 4, 'abc', 56, 57, 58, 90]

In [144]:
m.extend(l)

In [145]:
m

[57, 58, 90, 1, 2, 3, 4, 'abc', 56, 57, 58, 90]

In [147]:
l1=[2,3,4]
print(max(l1))

4

In [161]:
p=[]
a=int(input())
b=int(input())
for i in range(a,b+1):
    p.append(i)
    print(p)

10
20
[10]
[10, 11]
[10, 11, 12]
[10, 11, 12, 13]
[10, 11, 12, 13, 14]
[10, 11, 12, 13, 14, 15]
[10, 11, 12, 13, 14, 15, 16]
[10, 11, 12, 13, 14, 15, 16, 17]
[10, 11, 12, 13, 14, 15, 16, 17, 18]
[10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
[10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [168]:
o=[2,3,4]
e=[8,9,4]
f=[]
f.append(o[0]+e[0])
f.append(o[1]+e[1])
f.append(o[2]+e[2])
f

[10, 12, 8]

In [171]:
o=[2,3,4]
p=[]
e=[8,9,4]
for i in range(len(o)):
    p.append(o[i]+e[i])
    print(p)

[10]
[10, 12]
[10, 12, 8]

In [176]:
f=[21,45,67,67,4,56,96,56,45]
for i in range(len(f)):
    if(f.count(i)>1):
        break
print(i)

8

In [1]:
f=[21,45,67,67,4,56,96,56,45]

45 67 67 56 56 45