# third day class

In [19]:
f=[21,45,67,67,4,56,96,56,45]
u=[]
for i in f:
    if i not in u:
        u.append(i)
print(u)
u.sort()
u

[21, 45, 67, 4, 56, 96]

[4, 21, 45, 56, 67, 96]

In [9]:
# second largest number
for

In [11]:
print(dir(list) ,end="")

['__add__', '__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [20]:
f.insert(2,7)
f

[21, 45, 7, 67, 67, 4, 56, 96, 56, 45]

In [23]:
f.remove(56)
f

[21, 7, 67, 67, 4, 96, 56, 45]

## tuple

In [24]:
t=(1,2,3,4,5,5,)

In [25]:
t

(1, 2, 3, 4, 5, 5)

In [26]:
t[1]

2

In [32]:

t=(1,2,3,4,5,5,)
t

(1, 2, 3, 4, 5, 5)

## sets


-set also collection of elements of different datatypes 
- set doesnt allow dupilicates
- represented with{}
- it doesnt allow duplicates
- it doesnt follow any order
- it is mutable

In [34]:
print(dir(set),end=" ")

['__and__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__iand__', '__init__', '__init_subclass__', '__ior__', '__isub__', '__iter__', '__ixor__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__rand__', '__reduce__', '__reduce_ex__', '__repr__', '__ror__', '__rsub__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__xor__', 'add', 'clear', 'copy', 'difference', 'difference_update', 'discard', 'intersection', 'intersection_update', 'isdisjoint', 'issubset', 'issuperset', 'pop', 'remove', 'symmetric_difference', 'symmetric_difference_update', 'union', 'update']

In [43]:
s1={1,2,3}
s1.update({4,5})
s1

{1, 2, 3, 4, 5}

In [39]:
s1.add(6)
print(s1)

{1, 2, 3, 4, 5, 6}

In [44]:
s1={1,2,3}
s1.update([10,11])
print(s1)

{1, 2, 3, 10, 11}

In [46]:
s1={1,2,3}
s1.update((6,7))
print(s1)

{1, 2, 3, 6, 7}

In [53]:
#union
s2={1,2,3,'a','b','c'}
s3={3,'c','d'}
s2.union(s3)

{1, 2, 3, 'a', 'b', 'c', 'd'}

In [54]:
#intersection
s2={1,2,3,'a','b','c'}
s3={3,'c','d'}
s2.intersection(s3)

{3, 'c'}

In [56]:
# difference 
s2.difference(s3)

{1, 2, 'a', 'b'}

In [57]:
s1.pop()# removes randomly any element

1

In [60]:
s1.discard(2)# discard the given element if there or else it will discard
s1

{3, 6, 7}

In [61]:
s1.remove(3)# remove the given element shouldnt run multiple times it will give key eror
s1

{6, 7}

In [62]:
s2. issubset(s3)

False

In [63]:
s2.issuperset(s3)

False

In [64]:
s2.isdisjoint(s3)

False

In [65]:
s2.intersection_update(s3)
s2

{3, 'c'}

In [66]:
s2.difference_update(s3)
s2

set()

In [70]:
#symmetric_difference
s1={1,2,3,5,6,7}
s2={8,9,10,11,2,4,5,}
s1.symmetric_difference(s2)

{1, 3, 4, 6, 7, 8, 9, 10, 11}

In [68]:
#symmetric_difference_update
s1={1,2,3,5,6,7}
s2={8,9,10,11,2,4,5,}
s1.symmetric_difference_update(s2)
s1

{1, 3, 4, 6, 7, 8, 9, 10, 11}

In [76]:
l1=[1,2,3]
l2=[]
l2=l1
l2

[1, 2, 3]

In [77]:
l2[0]=0
l2

[0, 2, 3]

In [78]:
l1

[0, 2, 3]

In [82]:
l2=l1.copy()
l1
l2[0]=1
l2
l1

[0, 2, 3]

In [84]:
# clear 
s2.clear()
s2

set()

In [89]:
# delete
del(l2)
s2

NameError: name 's2' is not defined

In [115]:
l1=[10,20,30,50,70]
p1=[]
#print(l1[::2])
for i in range(0,len(l1),2):
    p1.append(l1[i])
    z=sum(p1)
z//len(p1)

36

In [124]:
# print anits college
s='A N I T S C O L L E G E'
u=s.lower()
u=s.capitalize()
u
print(u[::-2])#u=u.replace(" ","") to remove spaces

egellocstinA

In [137]:
# average
li=[1,2,3,'a','b','c']
s=c=0
for i in li:
    if type(i)==int:
        s=s+i
        c=c+1
print(s//c)

2

In [138]:
ord('a')

97

In [139]:
chr(98)

'b'

In [141]:
# average
li=[1,2,3,'a','b','c']
li=str(li)
s=c=0
for i in li:
    if i.isdigit():
        s=s+int(i)
        c=c+1
print(s//c)

2

In [150]:
w="asdWEER123##122"
r=len(w)
c=s=x=q=0
for i in w:
    if i.isdigit():
        c=c+1
        
    elif i.islower():
        s=s+1
        
    elif i.isupper():
        q=q+1
        
    else:
        x=x+1
print('digit',c)
print('lower',s)
print('upper',q)
print('special',x)
print('length',r)

digit 6
lower 3
upper 4
special 2
length 15

In [3]:
# to count the number in the given intger
h=12346
c=0
while(h!=0):
    h=h//10
    c+=1
print(c)

5

## Dictionary

- it contains key,vlaue pair 
- it is mutable
- represents with "{}"
- syntax: {key:value}

In [10]:
d={'k1':100,'k2':700,'k3':900,'k4':500}
print(d.keys())
print(d.values())
print(d.items())
print(d.get('k1'))
d.popitem()
d
d.pop('k1')
d

dict_keys(['k1', 'k2', 'k3', 'k4'])
dict_values([100, 700, 900, 500])
dict_items([('k1', 100), ('k2', 700), ('k3', 900), ('k4', 500)])
100

{'k2': 700, 'k3': 900}

In [16]:
d.update({'buli pandi':'ammu',})
d

{'k2': 700, 'k3': 900, 'buli pandi': 'ammu'}

In [17]:
d2=d.copy()
print('copied',d2)

copied {'k2': 700, 'k3': 900, 'buli pandi': 'ammu'}

In [21]:
d.setdefault('k5')
print(d)

{'k2': 700, 'k3': 900, 'buli pandi': 'ammu', 'k5': None}

In [22]:
d.clear()

In [23]:
print(d)

{}

In [30]:
#concatination
d={9:10,8:60,4:60}
d1={7:34,8:34,3:90}
d.update(d1)
print(d)

{9: 10, 8: 34, 4: 60, 7: 34, 3: 90}

In [33]:
d={}
for i in(d,d1):
    d.update(i)
print(i)

{7: 34, 8: 34, 3: 90}

### contact applicaton by using dictionaries
- add a contacts 
- search a contact 
- modify a contact
- delete a contact

In [38]:
# adition of contacts
contacts={}
def addcontacts(name,phone):
    if name not in contacts:
        contacts[name]=phone
        print("contact is added sucessfully")
    else:
        print("contact exits already")
x=str(input())
y=int(input())
addcontacts(x,y)

lkj
20
contact is added sucessfully

In [39]:
contacts

{'lkj': 20}

In [40]:
def searchof(name):
    if name is contacts:
        print(name,':',contacts[name])
    else:
        print('contact does not exit')
searchof('name1')

contact does not exit